/* ajuste este css deste arquivo style.css que está aqui de forma profissional */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

body{
    background-color: #000019;
    color: #fff;
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}

header .container a{
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo{
    width: 30px;
}


section{
    padding: 60px 0;
    
}



h1{
    color: #ffffff;
}

h3{
    font-size: 50px;
}

p{
    color: #ffffffd3;
    font-size: 20px;
    font-weight: 300;
}
a{
    color: #fff;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3%;
}


.btn-contato{
    padding: 1px 5px;
    border-radius: 4px;
    background-color: rgb(31, 113, 17);
    transition: 0.3s ease-in-out;
    display: inline-block;
    justify-content: center;
}
.btn-contato:hover{
    opacity: 0.8;
    cursor: pointer;
    display: inline-block;
    color: #202024cd;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    border-bottom: 1px solid #ffffff25;
}

.banner h1{
    -webkit-text-stroke: 0.2vw #121727; 
}

nav.scroll {
    background-color: #121727;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    position: fixed;
}
nav.scroll ul{
    margin-right: 1rem;
}
nav.scroll a{
    margin-left: 1rem;
}

nav ul{
    display: flex;
    align-items: center;
}
 .nav-links{
    color: #ffffffac;
    margin: 0 30px;
    font-size: 18px;
    transition: 0.3s ease-in-out;
}

.nav-links:hover{
    color: #81f909;
    border-bottom: 1px solid;
    border-color: #a8a7a7de;
}



nav .menu-icon{
   cursor: pointer;
   display: none;
}

nav .menu-icon img{
    width: 40px;
    height: 40px;
}
nav .close-icon{
    display: none;
}

nav .close-icon img{
    width: 50px;
    height: 50px;
}

.banner{
  display: flex;
  justify-content: center;
}

.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text h1{
    font-size: 70px;
    font-weight: 700;
    color: #ffffffd6;
}

.banner .banner-text p{
    margin: 30px 0;
}

@media(max-width: 768px){
    .ul{
        position: fixed;
        top: 0;
        left: 0;
        background-color: #3a3a56f1;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0);
        transition: 0.2s;
    }

    .ul.open{
        clip-path: circle(141.4% at 100% 0);
        
    }
    .ul a{
        margin: 10px 0;
        font-size: 16px;
    }

    .ul img{
        width: 40px;
        height: 40px;
    }

    nav .menu-icon{
        display: block;
    }

    nav .close-icon{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    
    .banner .banner-text{
        padding: 0;
        margin: 80px;
    }
    .banner .banner-text h1{
        font-size: 80px;
    }
    .banner .banner-text p{
        font-size: 15px;
    }

    

    .saiba-mais{
        margin-bottom: 100px;
    }
    .saiba-mais .saiba-mais-text{
        margin-top: 10px;
        padding: 0 20px;
        order: 1;
    }
    .saiba-mais .container{
        flex-direction: column;
    }
    .saiba-mais h3{
        font-size: 48px;
    }
    .saiba-mais .saiba-mais-text,
    .saiba-mais .saiba-mais-img{
        width: 100%;
    }

    .criadores .card-item{
        width: 100%;
    }

    
    .sobre .container{
        flex-direction: column-reverse;
    }
    .sobre .sobre-img,
    .sobre .sobre-text{
        width: 100%;
    }
    .sobre .sobre-text{
        margin-top: 20px;
    }
   
    .contato .contato-info{
        flex-direction: column-reverse;
    }
    .contato-info .right-side,
    .contato-info .right-side{
        width: 100%;
    }
}

@media (max-width: 500px){
    .banner .banner-text h1{
        font-size: 40px;
    }
    .saiba-mais .saiba-mais-text h3{
        font-size: 40px;
    }
}

.saiba-mais{
    margin-bottom: 100px;
}

.saiba-mais .container{
    display: flex;
    align-items: center;
}

.saiba-mais .saiba-mais-text{
    width: 50%;
    padding: 0 40px;
}
.saiba-mais .saiba-mais-text h3{
    font-size: 50px;
}

.saiba-mais .saiba-mais-text p{
    margin: 5px 0 10px 0;
}   

.saiba-mais .saiba-mais-img{
    width: 50%;
}
.saiba-mais .saiba-mais-img img{
    width: 100%;
}


/* 
 Seção dos criadores do projeto!
*/
.criadores h3{
    text-align: center;
}

.criadores p{
    text-align: center;
    margin-bottom: 20px;
}

.criadores .cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.criadores .card-item{
    margin: 20px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s ease-in-out;
}

.criadores .card-item:hover{
    background-color: #08082e;
    margin-top: -5px;
}

.criadores .card-item img{
    width: 100px;
    height:100px;
    border-radius: 100%;
    display: block;
    margin: 10px auto;
}

.criadores .card-item .user-name{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}

.criadores .card-item .user-description{
    font-size: 15px;
    padding: 0 15px;
}





/* footer */

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #aBa29e;
    --color-neutral-40: #f5f5f5;
}
footer{
    width: 100%;
}

footer h3{
    font-size: 20px;
}

.footer-content{
    background-color: #121727;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 2.5rem;
}

.footer-contacts h1{
    margin-bottom: 0.75rem;
    color: #ffffff;
}
.footer-contacts p{
    color: #ffffff65;
}

.footer-social-media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

.footer-social-media .footer-link{
    height: 2.5rem;
    width: 2.5rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.footer-social-media .footer-link:hover{
    opacity: 0.4;
}

#linkedin, #instagram, #github, #facebook{
    background: #181742;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-left: 1rem;
}

.footer-list h3{
color: #ffffffd0;;
}

.footer-list .footer-link{
    color: #ffffff94;
    transition: 0.3s ease-in-out;
}
.footer-list .footer-link:hover{
    color: #6dad2e;
}

.footer-contato{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.footer-contato h3{
    color: #ffffffd0;
}

.footer-contato a{
    color: #ffffff94;
    transition: 0.3s ease-in-out;
}

.footer-contato a:hover{
    color: #6dad2e;
}

.footer-contato span{
    color:  #ffffffa2;
    max-width: 10rem;
}

@media screen and (max-width: 768px) {
    .footer-content{
       grid-template-columns: repeat(2, 1fr); 
       gap: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .footer-content{
       grid-template-columns: repeat(1, 1fr);  
       padding: 3rem 2rem; 
    }
}


/* 
página sobre
*/

.sobre .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre .sobre-text{
    width: 50%;
    padding-right: 40px;
}

.sobre .sobre-text p{
    margin: 18px 0;
    color: #fff;
}

.sobre .sobre-img{
    width: 50%;
}

.sobre .sobre-img img{
    width: 100%;
    border-radius: 10px;
}

/* pagina de serviço */

.servicos h3 {
    text-align: center;
}

.servicos .container {
   text-align: center; 
}

.servicos .row-cards{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.servicos .row-card-item{
    background-color: #121229;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    flex-wrap: wrap;
    transition: 0.3s ease-in-out;
}

.servicos .row-card-item:hover{
    background-color: #08082e;
    margin-top: -5px;
}


.servicos .row-card-item i{
   color: #6dad2e;
}

.servicos .row-card-item p.nome-servico{
    margin: 20px 0;
    transition: 0.3s;
}

.servicos .row-card-item p.descricao-servico{
    transition: 0.3s;
}

.dados{
    background-color: #89898e;
}

.dados .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dados .dados-item{
    text-align: center;
    margin: 15px;
    
}

.dados .dados-item img{
    border-radius: 10px;
    margin-bottom: 15px;
    width: 140px;
}

.dados .dados-item p{
    font-size: 18px;
}

.dados .dados-item p strong{
    font-size: 28px;
}

/* pagina de contato */

.contato-info{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contato-info .left-side{
    width: 50%;
    padding: 30px;
    background-color: #121727;
    border-radius: 14px;
    margin-right: 50px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.contato-info .left-side div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contato-info .left-side div i{
    margin-right: 1rem;
    color: white;
}

.contato-info .left-side p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.787);
    
}

.contato-info .right-side{
    width: 50%;
}

.contato-info .right-side input{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    height: 38px;
    padding: 15px;
    border-radius: 6px;
    transition: 0.3s;
    border: 1px solid #0000006e;
}

.contato-info .right-side input:focus,
.contato-info .right-side textarea:focus{
    border-color: #000000;
}

.contato-info .right-side textarea{
    border: 1px solid #0000006e;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    transition: 0.3s;
    resize: none;
}

.contato-info .right-side button{
    border: none;
    background-color: #08082e;
    color: white;
}
